body {
  background-color: #dddcd6;
  color: #595857;
  font-family: 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS Gothic', sans-serif;
}

a {
  color: $hashibamiColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
