body {
  background-color: #dddcd6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: $hashibamiColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
