header {
  height: 80px;

  h1, nav {
    float: left;
    line-height: 80px;
  }

  h1 {
    font: {
      family: 'Oxygen Mono', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS Gothic', sans-serif;
      size: 2em;
      weight: bold;
    }
    margin-left: 20px;

    a {
      color: #6a5d21;

      &:hover {
        text-decoration: none;
      }
    }
  }

  nav.left {
    margin-left: 30px;

    ul.social {
      li {
        float: left;

        &:nth-child(n+2) {
          margin-left: 20px;
        }

        a {
          font-size: 1.5em;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  nav.right {
    float: right;
    margin-right: 20px;
  }
}

#container {
  border: {
    bottom: 1px solid $borderColor;
    top: 1px solid $borderColor;
  }

  #header {
    height: 70px;

    h1 {
      color: #fffffc;
      font-size: 1.5em;
      line-height: 70px;
      text-align: center;
      width: 750px;
    }
  }

  #wrapper {
    background-color: #f8fbf8;

    #content {
      margin: 0 auto;
      padding: 20px 10px;
      width: 750px;
    }
  }
}

footer {
  padding: 30px 0 50px 0;

  .copyright {
    color: $grayColor;
    font-size: 0.9em;
    text-align: center;
  }
}