header {
  height: 70px;

  h1 {
    font: {
      family: 'Short Stack', 'Metrophobic', Arial, serif;
      size: 2em;
      weight: bold;
    }
    line-height: 70px;
    margin-left: 20px;

    a {
      color: $hashibami;
      text-decoration: none;
    }
  }
}

#container {
  border: {
    bottom: 1px solid #d0d7d2;
    top: 1px solid #d0d7d2;
  }

  #header {
    height: 70px;

    h1 {
      color: #fffffc;
      font-size: 1.5em;
      line-height: 70px;
      text-align: center;
      width: 750px;
    }
  }

  #content {
    background-color: #f8fbf8;

    article {
      margin: 0 auto;
      padding: 20px 10px;
      width: 750px;
    }
  }
}