defaults: &defaults

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  aws:
    access_key_id: your_access_key_id
    secret_access_key: your_secret_access_key
    s3:
      bucket: your_bucket
  gmail:
    user_name: your_gmail_address
    password: your_gmail_password
