#home {
  &.index {
    article {
      .profile {
        margin-bottom: 40px;

        .top {
          @include clearfix;

          margin-bottom: 20px;

          .avatar {
            float: left;
          }

          .name {
            float: left;
            margin-left: 20px;

            .full-name {
              font-size: 1.5em;
              margin: 10px 0;

              .kanji {
                color: $grayColor;
                margin-left: 10px;
              }
            }
          }
        }

        .bottom {
          ul {
            li {
              font-size: 0.9em;
              list-style: none;
              margin-bottom: 3px;

              i {
                color: $grayColor;
              }
            }
          }
        }
      }

      .contents {
        @include clearfix;

        .links, .notes {
          float: left;
          width: 365px;

          h2 {
            border-bottom: 1px solid $borderColor;
            height: 25px;
            margin-bottom: 30px;
          }

          ul {
            li {
              list-style: none;
              margin-bottom: 20px;
            }
          }
        }
              
        .notes {
          padding-right: 10px;

          ul {
            li {
              .date {
                color: $greenColor;
                font-size: 0.8em;
                margin-bottom: 10px;
              }

              a {
                font-size: 1.3em;
              }
            }
          }

          .more {
            font-size: 0.8em;
            text-align: right;
          }
        }

        .links {
          padding-left: 10px;
        }
      }
    }
  }
}