#home {
  &.index {
    nav {
      float: left;
      width: 250px;

      .profile {
        .image {
          float: left;
          width: 100px;
        }
        .info {
          @include clearfix;
          float: right;
          padding-left: 5px;
          width: 145px;

          .full_name {
            font-size: 1.1em;
            margin-bottom: 10px;
          }
          ul {
            li {
              font-size: 0.8em;
              margin-bottom: 5px;
            }
          }
        }
      }
    }

    article {
      @include clearfix;
    }
  }
}